%h1 React Calender

%h2 Appointments

%h3 Make a new appointment

= form_for @appointment, remote: true do |f|
  = f.text_field :title, placeholder: 'Appointment Title'
  = f.text_field :appt_time, placeholder: 'Date and Time'
  = f.submit 'Make Appointment'

#appointments
  = render 'appointments'

